receivers:
  prometheus:
    config:
      scrape_configs:
        ### TEXT EMBEDDING
        - job_name: 'otel-collector'
          scrape_interval: 10s
          metrics_path: '/metrics'
          static_configs:
            - targets: ['127.0.0.1:8888']
        - job_name: 'postgres-collector'
          scrape_interval: 10s
          metrics_path: '/metrics'
          static_configs:
            - targets: ['postgres-exporter-masterarbeit-v02:9187']
        ### TEXT EMBEDDING
        - job_name: 'text-embeddings-inference-embed'
          scrape_interval: 10s
          metrics_path: '/metrics'
          static_configs:
            - targets: ['text-embeddings-inference-embed-masterarbeit-v02:9000']
        - job_name: 'gpu-monitoring'
          scrape_interval: 10s
          metrics_path: '/metrics'
          static_configs:
            - targets: ['dcgm-exporter-masterarbeit-v02:9400']
        ### prefect
        - job_name: 'prefect'
          scrape_interval: 10s
          metrics_path: '/'
          static_configs:
            - targets: ['prefect-exporter-masterarbeit-v02:8000']
        ### MINIO
        - job_name: 'minio-cluster'
          scrape_interval: 15s
          metrics_path: '/minio/v2/metrics/cluster'
          static_configs:
            - targets: ['minio-masterarbeit-v02:9000']
        - job_name: minio-job-bucket
          metrics_path: /minio/v2/metrics/bucket
          scheme: http
          static_configs:
          - targets: ['minio-masterarbeit-v02:9000']
        - job_name: minio-node
          metrics_path: /minio/v2/metrics/node
          scheme: http
          static_configs:
          - targets: ['minio-masterarbeit-v02:9000']
        - job_name: minio-resource
          metrics_path: /minio/v2/metrics/resource
          scheme: http
          static_configs:
          - targets: ['minio-masterarbeit-v02:9000']
          ### QDRANT
        - job_name: qdrant-metrics 
          static_configs:
          - targets: ['qdrant-masterarbeit-v02:6333']
        - job_name: qdrant-telemetry
          metrics_path: '/telemetry'
          static_configs:
          - targets: ['qdrant-masterarbeit-v02:6333']

        - job_name: cadvisor
          scrape_interval: 5s
          static_configs:
            - targets:
                - cadvisor-masterarbeit-v02:8080
        - job_name: 'node-exporter'
          static_configs:
            - targets: ['node-exporter-masterarbeit-v02:9100']


  otlp:
    protocols:
      grpc:
        endpoint: "0.0.0.0:4317"
      http:
        endpoint: "0.0.0.0:4318"

processors:
  batch:
    timeout: 10s
    send_batch_size: 1000

exporters:
  prometheus:
    endpoint: "0.0.0.0:8889"
  debug:
    verbosity: detailed
  otlp/tempo:
    endpoint: tempo-masterarbeit-v02:4317
    tls:
      insecure: true
  loki:
    endpoint: http://loki-v02:3100/loki/api/v1/push

service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [otlp/tempo]
    logs:
      receivers: [otlp]
      exporters: [loki]
    metrics:
      receivers: [otlp, prometheus]
      processors: [batch]
      exporters: [prometheus]
  telemetry:
    metrics:
      # expose the built-in metrics on 0.0.0.0:8888, Prometheus-style
      readers:
        - pull:
            exporter:
              prometheus:
                host: 0.0.0.0   # optional – defaults to 0.0.0.0
                port: 8888      # optional – defaults to 8888
      level: detailed           # keep your desired verbosity

    logs:
      level: info
